.MusicCard {
  width: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.MusicCard:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.CardImage {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 6px;
}

.CardText {
  margin-top: 10px;
}
